body {
  background-color: #0d1b2a;
}



.divflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_deal {
  box-shadow: rgba(167, 200, 238, 0.973) 0px 0px 0px 3px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}